.nav{
  display: flex;
  background-color: lightseagreen;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}

.nav2{
  display: flex;
  gap: 30px;
}
.light{
  background-color: lightcoral;
}
.dark{
  background-color: aquamarine;
}