.page1{
  height: 100vh;
  width: 100%;
  background-color: orange;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: white;
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: greenyellow;
}