button{
  padding: 10px 20px;
  margin: 10px;
}
h1{
  background-color: aqua;
  width: fit-content;
  font-size: 100px;
  padding: 10px 80px;
  border-radius: 5px;
  margin: 10px;
}
.pulse-btn {
  padding: 12px 24px;
  background-color: #f97316;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(249, 115, 22, 0.6);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(249, 115, 22, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(249, 115, 22, 0);
  }
}

